#board{
  margin: auto;
  width: 300px;
  border: 3px solid green;
  padding: 10px;
}
.square{
    width:100px;
    height:100px;
}

.v{
    border-left:2px solid #000;
    border-right:2px solid #000;
}

.h{
    border-top:2px solid #000;
    border-bottom:2px solid #000;
}
.player {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

.center{
  width: 100px;
  margin: auto;
  padding: 10px;
}
button{
  padding: 10px;
}
